<nav class="main-menu">
    <ul>
        <li >
            <a routerLink="/app-weather/search" routerLinkActive="active">
                <i class="fa fa-search fa-2x"></i>
                <span class="nav-text">
                    Weather Search
                </span>
            </a>
        </li>
        <li >
            <a routerLink="/app-weather/favorites" routerLinkActive="active">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                   Favorites
                </span>
            </a>
        </li>
    </ul>
</nav>